{% extends "bootstrap/base.html" %}

{% block title %}MegsArtist{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        {% if current_user.is_authenticated %}
            <!--<span class="navbar-brand">The Queue</span>-->
            <span class="navbar-brand">
            <a href="/">
                            <img src="/static/img/theqlogo.png">
            </a>
            </span>

        {% endif %}
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">

            {% if current_user.is_authenticated and not current_user.is_anonymous %}
                <ul class="nav navbar-nav navbar">
                    <li><a>{{ current_user.name }}</a></li>
                </ul>

            {% else %}

            {% endif %}


            <ul class="nav navbar-nav navbar-right">
                <!--<ul class="nav navbar-nav navbar-right">-->
                {% if current_user.is_authenticated and not current_user.is_anonymous %}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fa fa-history" aria-hidden="true"></i><span
                                class="caret"></span></a>
                        <ul id="history" class="dropdown-menu">
                            <li><b>History</b></li>
                            {% for playable in playables_played %}
                                    <li class="clearfix list-group-item" data-url="{{ playable.url }}">
                        <span class="upvote {% if playable.user_vote() > 0 %}clicked{% endif %}">
                            &#x25B2;
                        </span>
                        <span class="downvote {% if playable.user_vote() < 0 %}clicked{% endif %}">
                            &#x25BC;
                        </span>
                                        <img src='{{ playable.thumb_url }}' class='img-rounded' width='60' height='45'>
                                        <span class="title">{{ playable.name }}</span>
                                        <span class="score label label-default label-pill pull-xs-right">{{ playable.score }}</span>


                                    </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                {% if current_user.is_authenticated and not current_user.is_anonymous %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fa fa-users" aria-hidden="true"></i><span
                                class="caret"></span></a>
                        <ul id="users" class="dropdown-menu">
                            <li><b>Users</b></li>
                            {% for user in users %}
                                <li>{{ user.name }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}

            </ul>

            <!-- </ul>-->
        </div><!-- /.navbar-collapse -->
    </nav>

{% endblock %}

{% block content %}
    <div class="container-fluid no-pad">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message|safe }}
            </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
{% endblock %}



{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}

    <!--<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/js.js') }}"></script>
     <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.swap.js') }}"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
{% endblock %}

