{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Media Queue{% endblock %}

{% block page_content %}


    <div class="col-lg-8">

        <div id="iframe-container">
                    <div id="player"></div>
        </div>

        <script>
            // 2. This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        </script>
        <form id="url_form">
            <div class="add-link input-group">
                <input type="text" class="form-control" placeholder="Search Query or Youtube URL">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">+</button>
      </span>
            </div><!-- /input-group -->
        </form>


    </div><!-- /.col-lg-8 -->

    <div class="col-lg-4 session_info">
        <ul id="now_playing" class="list-group">
            <b>Now Playing</b>
            {% if playable_playing is defined and playable_playing is not none %}
                <li class="clearfix list-group-item" data-url="{{ playable_playing.url }}">
                        <span class="upvote {% if playable_playing.user_vote() > 0 %}clicked{% endif %}">
                            &#x25B2;
                        </span>
                        <span class="downvote {% if playable_playing.user_vote() < 0 %}clicked{% endif %}">
                            &#x25BC;
                        </span>
                    <img src='{{ playable_playing.thumb_url }}' class='img-rounded' width='60' height='45'>
                    <div class="next"><i class="fa fa-step-forward" aria-hidden="true"></i></div>
                    <span class="title">{{ playable_playing.name }}</span>
                    <span class="score label label-default label-pill pull-xs-right">{{ playable_playing.score }}</span>


                </li>
            {% endif %}
        </ul>
        <ul id="playables" class="list-group">
            <b>Up Next</b>
            {% for playable in playables_unplayed %}
                <li class="clearfix list-group-item" data-url="{{ playable.url }}">
                        <span class="upvote {% if playable.user_vote() > 0 %}clicked{% endif %}">
                            &#x25B2;
                        </span>
                        <span class="downvote {% if playable.user_vote() < 0 %}clicked{% endif %}">
                            &#x25BC;
                        </span>
                    <img src='{{ playable.thumb_url }}' class='img-rounded' width='60' height='45'>
                    <div class="next"></div>
                    <span class="title">{{ playable.name }}</span>
                    <span class="score label label-default label-pill pull-xs-right">{{ playable.score }}</span>


                </li>
            {% endfor %}
        </ul>

    </div>
    <div class="search_modal modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <ul class="row" id="search_results">
                    <li>
                        <img src="https://i.ytimg.com/vi/igNVdlXhKcI/default.jpg" width=120 height=90/>
                        <span>Title</span>

                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}