{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Media Queue{% endblock %}

{% block page_content %}
    <style>
    .navbar-default{
        display: none !Important;
    }
    </style>

    <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
                <div class="text-center">
            <img src='/static/img/theqlogo.png' class='start_logo img-responsive'>
            <a href="/session/create/" class="btn btn-lg-blue">Create a Session</a>
            <a href="/session/join" class="btn btn-lg-yellow">Join a Session</a>
        </div>
    </div>

    </div>


{% endblock %}