{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Media Queue{% endblock %}

{% block page_content %}
    <style>
    .navbar-default{
        display: none !Important;
    }
</style>
    <div class="text-center">
        <img src='/static/img/theqlogo.png' class='start_logo img-responsive' height='500px'>
    </div>
    <div class="row">

        <div class="text-center">
            <a href="/session/create/" class="btn btn-lg">Create a Session</a>
            <a href="/session/join" class="btn btn-lg">Join a Session</a>
        </div>
    </div>


{% endblock %}